.DS_Store
devops/helm-charts/.DS_Store
devops/ansible/roles/.DS_Store
devops/ansible/roles/ubuntu/.DS_Store
devops/.DS_Store
devops/ansible/.DS_Store
api/.DS_Store
devops/ansible/.DS_Store
devops/.DS_Store
devops/ansible/.DS_Store
devops/.DS_Store
devops/ansible/.DS_Store
devops/ansible/roles/.DS_Store
devops/ansible/roles/luarocks/.DS_Store
devops/ansible/roles/ubuntu/.DS_Store
html/status/.DS_Store
.vault_pass
.env*
.settings*
final-build.log
